/*
 * Main Page
 */

html {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  overflow: auto !important;
}

#main .buttonBox {
  margin: auto;
  margin-top: 10px;
  width: 60%;
  padding: 10px;
  /*  border: 3px solid #73AD21; */
  border-radius: 4px;
}

#main .menuHeader {
  display: flex;
  font-size: 28px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sapMPageHeader::before {
  content: none !important;
}

/*
 * Decision Tree Page
 */

#tree .question {
  color: #333;
  min-height: 100px !important;
  margin: auto;
  margin-bottom: 0;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#tree .homeButton {
  visibility: hidden;
}

#tree .yButton {
  display: -webkit-flex !important;
  display: flex !important;
  padding-right: 5px;
}

#tree .nButton {
  display: -webkit-flex !important;
  display: flex !important;
  padding-left: 5px;
}

#tree .ABox {
  padding-top: 25px;
  margin: 0 auto;
}

@media only screen and (min-width: 750px) {
  #tree .ABox {
    margin-top: 3px;
    margin-left: 25%;
  }
}

#tree .QABox {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

@media only screen and (min-width: 750px) {
  #tree .QABox {
    margin-top: 10%;
    margin-left: 25% !important;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 5%;
    padding-left: 0;
    border-radius: 15%;
  }
}

#tree .sapMFlexItem {
  margin: 3px 40px 3px 0;
  padding-left: 25px;
}

#tree--homeButton-inner {
  display: flex;
  margin-left: 25px;
}

.sapMPageHeader::before {
  border-top: 0.25rem solid #2dc0d7 !important;
}

.sapMGlobalBackgroundColor,
.sapUiGlobalBackgroundColor {
  background-color: none !important;
  background-image: linear-gradient(45deg, #a9e5ef, white) !important;
  background-repeat: no-repeat !important;
}

.sapUiGlobalBackgroundImage {
  background-image: url("../resources/images/icareBackground.svg") !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

.sapMBtn:focus .sapMBtnFocusDiv {
  border: none !important;
}

.sapMBtn {
  padding: 0 !important;
  width: 100%;
}

.buttonBox {
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
}

.sapMBtnActive,
.sapMBtnIcon,
.sapMBtnInner:hover,
.sapMBtnInner {
  background-color: #f7f7f7 !important;
  border-color: #bfbfbf !important;
  color: #333333 !important;
  background: linear-gradient(top, #f7f7f7 0, #f2f2f2 100%);
  text-shadow: 0 1px 0 #ffffff;
}

.sapMBtnActive {
  box-shadow: none;
}

.sapMBtnInner {
  transition: box-shadow .1s linear;
  border: 0 !important;
  border-radius: 2px !important;
  outline: none !important;
  text-align: left !important;
  box-shadow: 2px 1px 2px gray;
}

.sapMBtnInner:active {
  box-shadow: none;
}

.sapMBtnContent {
  font-family: 'Roboto', sans-serif;
}

#main .sapMFlexItem {
  margin: 3px 30px 3px 8%;
}

@media only screen and (min-width: 750px) {
  #main .sapMFlexItem {
    margin-right: 45%;
    margin-left: 25%;
  }
}

.sapMFlexItem {
  margin: 3px 40px 3px 0;
}

@media only screen and (min-width: 750px) {
  .sapMFlexItem {
    margin-right: 45%;
    margin-left: 25%;
  }
}

@media only screen and (max-width: 750px) {
  #main .sapMFlexItem:first-child {
    color: #2e2e2e;
    height: 27% !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    text-align: center;
  }
}

@media only screen and (min-width: 750px) {
  #main .sapMFlexItem:first-child {
    height: 35% !important;
  }
}

@media only screen and (max-width: 750px) {
  #tree .sapMFlexItem {
    height: auto;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    text-align: center;
  }
}

.sapMBtnBack {
  display: flex;
  align-items: center;
}

#tree--homeButton-inner {
  width: 200px;
}

@media only screen and (max-width: 750px) {
  #tree--homeButton-inner {
    text-align: center !important;
    margin: auto;
  }
}

.sapMText {
  display: -webkit-flex !important;
  display: flex !important;
}

/*
 * Info Page 
 */

#info .sapMText {
  font-family: 'Roboto', arial !important;
}

#info .sapMFlexItem {
  margin-right: 0 !important;
  margin-left: 0 !important;
  font-family: 'Roboto', arial;
}

@media only screen and (min-width: 750px) {
  #info .sapMFlexItem {
    margin-right: 15% !important;
    margin-left: 23% !important;
  }
}

#info .infoPageHeader {
  font-size: 30px;
  color: #333;
  padding: 25px;
}

#info .importantInfo {
  font-size: 20px;
  padding-bottom: 7.5%;
}

#info .infoBox {
  text-align: center;
  margin: auto;
  margin-top: 10%;
  padding: 5%;
  /*  
    border: 3px solid #73AD21; 
*/
  border-radius: 15%;
  border: 6 black;
}

#stayInformedPage .sapMFlexBox {
  min-height: 100px !important;
  margin: auto;
  margin-bottom: 0;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#stayInformedPage .sapMText {
  font-family: 'Roboto', arial !important;
}

#stayInformedPage .sapMFlexItem {
  margin-right: 0 !important;
  margin-left: 0 !important;
  font-family: 'Roboto', arial;
}

@media only screen and (min-width: 750px) {
  #stayInformedPage .sapMFlexItem {
    margin-right: 15% !important;
    margin-left: 23% !important;
  }
}

#stayInformedPage .infoPageHeader {
  font-size: 30px;
  text: #778899;
  padding: 25px;
}

#stayInformedPage .importantInfo {
  font-size: 20px;
  padding-bottom: 7.5%;
}

#stayInformedPage .sapMFlexBox {
  text-align: center;
  margin: auto;
  margin-top: 10%;
  padding: 5%;
}

#stayInformedPage .sapMText {
  margin-left: 25px;
}

#stayInformedPage .sapMFlexItem .sapMBtnBase {
  width: 25%;
  right: 35%;
}

@media only screen and (max-width: 750px) {
  #stayInformedPage .sapMFlexItem .sapMBtnBase {
    width: 55%;
    right: 0;
  }
}

#stayInformedPage #__text3,
#__text4 {
  color: #333;
  font-size: 22px;
  margin-top: 25px;
}