#main .buttonBox {
    margin: auto;
    margin-top: 10px;
    width: 60%;
/*  border: 3px solid #73AD21; */
    padding: 10px;
    border-radius: 4px;
}

#main .mainPageButton {
    border-radius: 50%;
}

#main .menuHeader {
    font-size: 200%;
    padding-bottom: 5%;
}

#tree .question {
    padding: 10px;
/*    border: 3px solid #73AD21; */
}

#tree .yButton {
    padding-right: 5px;
}

#tree .nButton {
    padding-left: 5px;
}

#tree .ABox {
    padding-top: 25px;
    margin: auto;
/*  border: 3px solid #73AD21; */
}

#tree .QABox {
    margin: auto;
    margin-top: 10px;
    width: 60%;
/*  border: 3px solid #73AD21; */
    padding: 10px;
    border-radius: 4px;
}

#info .infoPageHeader {
    font-size: 200%;
    padding-bottom: 7.5%;
    font-size: 200%;
    padding-bottom: 7.5%;
/*
    font-size: 200%;
    padding-bottom: 7.5%; 
    border: 3px solid #73AD21; 
*/
}

#info .importantInfo {
    font-size: 90%;
    padding-bottom: 7.5%
/*  border: 3px solid #73AD21; */
}

#info .infoBox {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 60%;
/* border: 3px solid #73AD21; */
    padding: 5%;
    border-radius: 15%;
}
