@import 'globals';

.sapMPageHeader::before {
  border-top: 0.25rem solid $logo-blue !important;
}

.sapMGlobalBackgroundColor, .sapUiGlobalBackgroundColor {
    background-color: none !important;
    background-image: linear-gradient($light-blue, white) !important; 
    background-repeat: repeat,no-repeat !important;
}