/*
 * Decision Tree Page
 */ 
 @import 'globals';
#tree .question {
  color: #333;
  min-height: 100px !important;
  margin: auto;
  margin-bottom: 0;
  padding: 25px;
  margin-top: 20%;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  @media only screen and (min-width: $small-size) {
    //margin-top: 50%;
  }
  font-family: 'Roboto', sans-serif;
}
#tree .homeButton {
  visibility: hidden;
}

#tree .yButton {
  display: -webkit-flex !important;
  display: flex !important;
  padding-right: 5px;
}

#tree .nButton {
  display: -webkit-flex !important;
  display: flex !important;
  padding-left: 5px;
}

#tree .ABox {
    padding-top: 25px;
    margin: 0 auto;
    @media only screen and (min-width: $small-size) {
      margin-top: 3px;
      margin-left: 25%;
    }
}

#tree .QABox {
    margin: auto;
    margin-top: 25%;
    padding: 10px;
    border-radius: 4px;
    @media only screen and (min-width: $small-size) {
      margin-top: 15%;
      //margin-right: 20% !important;
      margin-left: 25% !important;
      text-align: center;
      margin: auto;
      padding: 5%;
      padding-left: 0;
      border-radius: 15%;
  }
}

#tree .sapMFlexItem {
  margin: 3px 40px 3px 0;
  padding-left: 25px;
}

#tree--homeButton-inner{
  display: flex;
  margin-left: 25px;
}